.profile__info {
    margin: 0;
    font-size: 18px;
    line-height: 22px;
    padding-top: 7px;
    justify-self: flex-start;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width: 100%;
    max-width: 338px;
}

@media (max-width: 527px) {
    .profile__info {
        text-align: center;
    }
}

@media (max-width: 424px) {
    .profile__info {
        font-size: 14px;
        line-height: 17px;
        max-width: 220px;
    }
}