.page {
    width: 100%;
    max-width: 1280px;
    min-width: 320px;
    margin: 0 auto;
    color: #fff;
    padding: 45px 19px 55px;
    box-sizing: border-box;
    visibility: hidden;
    opacity: 0;
    transition: visibility .1s, opacity .1s linear;
}

@media (max-width: 527px) {
    .page {
        padding: 28px 0 31px;
    }
}